nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
nav ul li {
    padding: 15px;
}
