.switch {
    display: flex;
    align-items: center;
}
.switch label {
    margin-left: 15px;
}
.switch label input {
    opacity: 0;
    height: 0;
    width: 0;
}
.switch label input + span {
    display: inline-block;
    height: 30px;
    width: 48px;
    background-color: #666666;
    border-radius: 48px;
    transition: ease 0.2s;
}
.switch label input:checked + span {
    background-color: #19cdfa;
}
.switch label input + span::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 22px;
    width: 22px;
    transition: ease 0.2s;
    background-color: white;
    border-radius: 50%;
}
.switch label input:checked + span::before {
    left: calc(100% - 26px);
}
.switch label input + span svg {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: var(--accent-color-darker);
}
.switch label input:checked + span svg {
    left: 70%;
    transform: translate(-50%, -50%);
    color: var(--accent-color-darker);
}
